@font-face {
  font-family: 'Sans-Light';
  src: url(../fonts/SourceSans3-Light.ttf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Sans-Bold';
  src: url(../fonts/SourceSans3-Bold.ttf) format("opentype");
  font-display: swap;
}
