<nav class="flex justify-between items-center py-4 px-14 bg-[#131313]">
  <div>
    <ul class="flex gap-4 text-gray-400">
      <li class="font-sansBold"><a href="#">Homepage</a></li>
      <li class="font-sansBold"><a href="#">Series</a></li>
      <!-- color and underline should be set dynamically if we have more routes -->
      <li class="text-white font-sansBold border-b-4 border-red-600"><a routerLink="movies" >Movies</a></li>
    </ul>
  </div>

  <div>
    <img src="./assets/images/nerdflix-logo.png">
  </div>

  <div class="flex items-center gap-2">
    <img src="./assets/icons/star.png" class="h-4">
    <span class="text-white font-sansBold">5</span>
  </div>
</nav>
