<app-header [likedMovies]="likedMovies"></app-header>

<div>
  <div class="flex justify-between bg-[#171717] py-2 px-8 md:py-4 md:px-14">
    <div>
      <label for="first_name" class="block mb-5 text-2xl font-medium text-white dark:text-white">Movies</label>
      <input type="text" id="first_name" class="bg-black border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for a movie..." (keyup)="search($event)">
    </div>

    <div>
      <span class="text-gray-500 font-sansBold">Sort by</span>

      <div class="md:flex justify-center items-center gap-4">
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
          <select class="bg-black border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" (change)="onApplyingFilter($event)">
            <option disabled selected>Title..</option>
            <option value="title-asc">(A-Z)</option>
            <option value="title-desc">(Z-A)</option>
          </select>
        </div>

        <div>
          <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
          <select id="countries" class="bg-black border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" (change)="onApplyingFilter($event)">
            <option disabled selected>Rating..</option>
            <option value="rating-asc">(Higher)</option>
            <option value="rating-desc">(Lower)</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="movies" class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-8 bg-[#1D1D1D] p-4">
    <app-movie-item *ngFor="let movie of movies" [movie]="movie" [moviesLiked]="moviesLiked" (onMovieLiked)="movieLiked(movie.title)"></app-movie-item>
  </div>
</div>
